html, body {
  width: 100%;
  height: 100%;
  min-height: 100%; 
  background-color: white;
}


$gold-color: rgba(238, 198, 67,1);
$black-erie: rgba(20, 20, 20,1);

$icon-small: 30px;
$icon-medium: 40px;
$icon-large: 60px; 

.carousele__text--inactive {
  color: $black-erie;
  opacity: 0.3;
  transition: 0.5s all;
}

.carousele__text--active {
  opacity: 1;
  transform: translate(20px,-5px);
  transition: 0.5s all;
  
}

.carousele__section {
  padding: 50px 0px;


  .carousele__section--text {
    text-align: center;
}

  .carousele__section--svg {
    position: relative;
    width: 100%;
    min-height: 250px;
    .control__arrows__field {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 70px;
      height: 70px;
      z-index: 100;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }

    .control__arrows__field:nth-child(1) {
      margin-left: -30px;
      
      &:hover {
        margin-left: -40px;
        opacity: 1;
      }
    }

    .control__arrows__field:nth-child(2) {
      margin-left: 30px;
      &:hover {
        margin-left: 40px;
        opacity: 1;
      }
    }

    .carousele__control__arrows {
      width: 25px;
    }


    #carousele__section--icons {
      height: 100%;
      overflow: hidden;
      img {
      position: absolute;
      top: 50%;
      z-index: 100;
      transform: translate(-50%,-50%);
      transition: all 1s ease-out;
      }

      .carousele__icon--far-left {
        left: 10%;
        width: $icon-small;
        opacity: 0;
        
      }

      .carousele__icon--left {
        left: 20%;
        width: $icon-medium;
        opacity: 0.7;

      }

      .carousele__icon--active {
        left: 50%;
        width: $icon-large;
        opacity: 1;

      }

      .carousele__icon--right {
        left: 80%;
        width: $icon-medium;
        opacity: 0.7;
      
      }

      .carousele__icon--far-right {
        left: 90%;
        width: $icon-small;
        opacity: 0;
        
        }
      }
    }
  }


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
